body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
hr{
    width: 7%;
    border-top: 10px dotted;
    color: #bdc2c2;

}
h1 {
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #11999E;
    line-height: 1;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #11999E;
    font-weight: bold;
}
h3{
font-family: 'Montserrat', sans-serif;
color: #66BFBF;
}
span{
    text-decoration: line-through;
}

.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}

.profile-pic{
    height: 160px;
    width: 150px;
    border-radius: 100%;
}
.skill-logo-1{
    height: 25%;
    width: 25%;
    border: 50px;
    border-radius: 70%;
    float: left;
    margin-right: 30px;
}
.skill-logo-2{
    height: 25%;
    width: 25%;
    border: 50px;
    border-radius: 70%;
    float: right;
    margin-left: 30px;
}

.skill-row{
    width: 50%;
    margin: 0px auto 100px auto;
    line-height: 2;
    text-align: left;
}

.middle-container{
    padding-bottom: 50px;
    padding-top: 50px;
}
.bottom-container{
    background-color: #66BFBF;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    font-size: 1.0rem;
}

a:hover{
    color: #EAF6F6;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.footer{
    color: #EAF6F6;
    font-family: 'Sacramento', cursive;
    font-size: 1.0rem;
}
